.card {
  padding: 0.5rem 1rem;
  border: 1px dashed #cccc;
  margin-bottom: .5rem;

  h2 {
    margin-bottom: .5rem;
  }

  p {
    font-style: italic;
    color: darkgray;
  }
  .image-logo {
    width: 50px;
    height: auto;
  }
  button {
    margin-bottom: .5rem;
    margin-right: .5rem;
  }
  .text {
    font-size: 1.5rem;

    &.red {
      color: red;
    }

    &.blue {
      color: blue;
    }
    &.green {
      color: green;
    }
  }
}
